main {
    height: 90vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.top-text {
    color: cyan;
}

.home-main-text {
    position: absolute;
    font-size: 20rem;
    opacity: 0.2;
    z-index: -1;
}

.two-images{
    width: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.footballer img {
    height: 23rem;
}

.ball img {
    -webkit-animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
