.main-account {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.login-signup-container {
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}


#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15rem;
}


#signup {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logInForm, #signUpForm{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4rem;
    margin-top: 2rem;
}

.form-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.button-control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

.form-control label {
    color: rgb(255, 255, 255);
}

.form-control input {
    margin: 0.5rem;
    padding-left: 1rem;
}

.main-account h2 {
    position: absolute;
    opacity: 0.2;
    font-size: 20rem;
    z-index: -1;
}

.container-main h1 {
    color: rgb(245, 245, 245)
}

/* password checker */


.btn-primary {
    height: 1.5rem;
    background-color: rgb(0, 229, 255);
    margin: 0;
    margin-top: 1rem;
}

.btn-primary:hover{
    background-color: white;
}